mixin responsive_image(imageUrl)
  img(src=`${imageUrl}`).img-responsive

mixin default_nav_bar(noLogin)
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      a.navbar-brand(href='/') Home
      button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
        

      // Collect the nav links, forms, and other content for toggling
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='/schedule') Scheduled Lab Hours
          li.nav-item
            a.nav-link(href='/about') About
        if !noLogin
          button.ms-auto.btn.btn-outline-primary(style='display:inline;' onClick='login()')
            i.bi-box-arrow-in-right.pe-2
            = "Management"
        block
