doctype html

include common

html(lang='en')
    head
        title WPI Collablab - Lab Swiper
        link(href='/css/signin.css', rel='stylesheet')
        link(href='/css/bootstrap.css',  rel='stylesheet')
        link(href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css", rel="stylesheet")

    body
        +default_nav_bar(true)
        .container
            .row.justify-content-center
                h1.col-auto(id='header0')
                    | The lab is currently&nbsp;
                    strong
                        span(id='isOpen')
                    br
                    span(id='toolWarning')
            form.row.mt-5.justify-content-center.form-signin(role='form' onsubmit="return false;")
                .col-6.d-grid
                    h2.form-signin-heading Swipe to Enter Lab
                    input.form-control(type='text', placeholder='Swipe or Type User ID or Username', autofocus='', id='idNumber')
                    button.btn.btn-lg.btn-primary(type='submit', onClick='submitLogin()') Submit
            .row.mt-5.justify-content-center
                .card.col-8.gx-0
                    .card-header Who is in the lab? (Click to kick)
                    .card-body.gx-0
                        ul#who.list-group.list-group-flush
        #registration.modal.fade(aria-hidden='true', tabindex='-1', role='dialog', aria-labelledby='registrationLabel')
            .modal-dialog
                .modal-content
                    .modal-header
                        h3.modal-title Register
                    .modal-body
                        form#registrationForm.text-end(role='form', onsubmit='return false;')
                            #nameGroup.row.my-2
                                .col-6
                                    label.col-form-label(for='name') Your Full Name
                                .col-6
                                    input.form-control(type='text', placeholder='Your full name', id='name')
                            #usernameGroup.row.my-2
                                .col-6
                                    label.col-form-label(for='username') Your Username
                                .col-6
                                    input.form-control(type='text', placeholder='Your username', id='username')
                            #userIdNumberGroup.row.my-2
                                .col-6
                                    label.col-form-label(for='userIdNumber') Your ID Number
                                .col-6
                                    input.form-control(type='text' placeholder='Enter Your ID Number', id="userIdNumber")
                            #passwordRegistrationGroup.row.my-2
                                .col-6
                                    label.col-form-label(for='passwordRegistration') Your Desired Password
                                .col-6
                                    input.form-control(type='password' placeholder='Enter Your Password', id="passwordRegistration")
                            #confirmPasswordRegistrationGroup.row.my-2
                                .col-6
                                    label.col-form-label(for='confirmPasswordRegistration') Confirm Your Password
                                .col-6
                                    input.form-control(type='password' placeholder='Confirm Your Password', id="confirmPasswordRegistration")
                            #approvalGroup.row.my-2
                                .col-6
                                    label.col-form-label(for='approval') Lab Monitor's ID Number
                                .col-6
                                    input.form-control(type='text', placeholder='Enter a Lab Monitor ID Number', id='approval')
                            input.d-none(type='submit', onClick='submitRegistration()')
                    .modal-footer
                        button.btn.btn-lg.btn-danger.btn-block(onClick='cancelRegistration()') Cancel Registration
                        button.btn.btn-lg.btn-primary.btn-block(onClick='submitRegistration()') Submit Registration

        #closeModal.modal.fade(aria-hidden='true', tabindex='-1', role='dialog', aria-labelledby='kickingLabel')
            .modal-dialog
                .modal-content
                    .modal-header
                        h3.modal-title Kick Remaining Users?
                    .modal-body
                        p Confirm the other users have left, and you may forcibly close the lab.
                        form(role='form', id='closeForm', onsubmit='return false;')
                            #kickPasswordGroup.row.my-2
                                .col-6
                                    label.col-form-label(for='password') Lab Monitor Password
                                .col-md-5
                                    input.form-control(type='password', placeholder='Password' id='password')
                            input.d-none(type='text', id='hiddenId')
                    .modal-footer
                        button.btn.btn-lg.btn-danger.btn-block(type='submit' onClick='kickRemaining()') Kick Remaining Users

        #kickModal.modal.fade(aria-hidden='true', tabindex='-1', role='dialog', aria-labelledby='kickingLabel')
            .modal-dialog
                .modal-content
                    .modal-header
                        input.d-none(type='text', id='kickUser')
                        h3.modal-title Confirm that you want to kick&nbsp;
                            span(id='kickName')
                    .modal-footer
                        button.btn.btn-lg.btn-danger.btn-block(type='submit' onClick='submitKick(); hideModals()') Kick

        #passwordModal.modal.fade(aria-hidden='true', tabindex='-1', role='dialog', aria-labelledby='kickingLabel')
            .modal-dialog
                .modal-content
                    .modal-header
                        h3.modal-title Set Your Password
                    .modal-body
                        form.text-end(role='form', id='passwordForm', onsubmit='return false;')
                            #currentPasswordGroup.row.my-3
                                .col-6
                                    label.col-form-label(for='currentPassword') Your Current Password
                                .col-6
                                    input.form-control(type='password', placeholder='Password' id='currentPassword')
                            #newPasswordGroup.row.my-3
                                .col-6
                                    label.col-form-label(for='newPassword') New Password
                                .col-6
                                    input.form-control(type='password', placeholder='New Password' id='newPassword')
                            #repeatPasswordGroup.row.my-3
                                .col-6
                                    label.col-form-label(for='repeatPassword') Confirm New Password
                                .col-6
                                    input.form-control(type='password', placeholder='Confirm New Password' id='repeatPassword')
                    .modal-footer
                        button.btn.btn-lg.btn-warning.btn-block(type='submit' onClick='changePassword()') Change Your Password

        script(src='/js/jquery.js')
        script(src='/js/bootstrap.js')
        script(src='/js/notify.js')
        script(src='/js/common.js')
        script(src='/js/internal.js')
